<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TESTPRODUCT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D22B9DC20B4D48F0032A506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D22B9F020B4D4910032A506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D22B9FB20B4D4910032A506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
